
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.jumbotron{
    border: .25px solid gray;
}
.container h1{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.container p{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 30px;
}