
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.jumbotron{
    border: .25px outset gray;
}
.container h1{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

.container p{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.row p{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.hr1 {
    width: 7%;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    border: 0 none;
}

