#navbar a{
    padding: 0 40px;
    font-weight: bold;

}

#navbar a:hover{
    text-decoration: underline;
}

#item:hover{
    font-size: larger;
    color: black;
}
#name{
    font-family: 'Open Sans', sans-serif;
}